<nav class="main-nav" *ngIf="user">
    <div class="navbar-nav">
        <img class='nav-logo' src="../../assets/images/logo_sampler_white.svg" alt="sampler-logo">
        <div class="navbar-right">

                <div class="nav-div"><a class="nav-item" routerLink="/users" routerLinkActive="active">Home</a></div>
                <div class="nav-div"><a class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profile</a></div>
                <div class="nav-div"><a class="nav-item" (click)="logout()">Logout</a></div>

        </div>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>