<div class="sub-nav">
    <div class="sub-nav-title">My Profile</div>
</div>
<div class="p-4">
    <div class="container">
        <div class="row-right">
            <label>First Name</label>
            <h1>{{user.firstName}}</h1>
        </div>
        <div class="row-left">
            <label>Email</label>
            <h1>{{user.email}}</h1>
        </div>
        <br>
        <div class="row-right">
            <label>Last Name</label>
            <h1>{{user.lastName}}</h1>
        </div>
        <div class="row-left">
            <label>Password</label>
            <h1>············</h1>
        </div>
    </div>
</div>
